# PHP options
ADMIN_EMAIL=admin@example.com
PHP_ENABLE_XDEBUG=0

# SMTP options
SMTP_HOST=localhost
SMTP_USER=user@xample.com
SMTP_PASSWORD=123456
SMTP_PORT=587
SMTP_FROM=user@example.com

# MySQL options
MYSQL_HOST=mysql
MYSQL_USER=root
MYSQL_PASSWORD=""
MYSQL_DATABASE=dbname
MYSQL_ALLOW_EMPTY_PASSWORD=1
MYSQL_ROOT_PASSWORD=""
